/* =========================
   SWIPER MAIN
========================= */
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

/* =========================
   SLIDE IMAGE - FULL FIT
========================= */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* important */
.swiper-slide > div {
  width: 100%;
  height: 100%;
  background-size: cover !important; /* FULL IMAGE */
  background-position: center;
  background-repeat: no-repeat;
}

/* =========================
   HEIGHT RESPONSIVE
========================= */
@media (max-width: 600px) {
  .swiper {
    height: 60vh;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .swiper {
    height: 70vh;
  }
}

@media (min-width: 901px) {
  .swiper {
    height: 80vh;
  }
}

/* =========================
   NAVIGATION ARROWS - ORANGE
========================= */
.swiper-button-next,
.swiper-button-prev {
  color: orange !important;
}

/* size responsive */
@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.0);
  }
}

@media (min-width: 900px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(1.1);
  }
}

/* =========================
   PAGINATION DOTS - ORANGE
========================= */
.swiper-pagination-bullet {
  background: orange !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: orange !important;
  opacity: 1;
}
